body{
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  background-color: snow;
}
 h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-block-end: 0.01em;
  font-size: 2.1em;
}
h2{
    font-family: 'Roboto Slab', serif;
  font-weight: 300;
  /* margin-block-end: 0.1em; */
  margin-block-start: 0.01em;

} 
h3{
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  /* margin-block-end: 0.1em; */
  margin-block-start: 0.01em;

} 
table {
  /* font-family: arial, sans-serif; */
  /* border-collapse: collapse; */
  width: 100%;
  /* border-spacing: 3px;
border-collapse: separate; */
}
td, th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 20px;
}
td {
   padding: 0; 
   margin: 0;
}


.drop-cap{
  float: left;
  line-height: 85%;
  width: .7em;
  font-size: 400%;
  font-family:'Open Sans', sans-serif;
}

li::marker{
  color:#ffcc99
}
